// ============== FONTS ======================

$ff-primary: "Merriweather", serif;
$ff-secondary: "Montserrat", sans-serif;
$ff-accent: "Miller Display", serif;

// ============== FONT SIZES ======================

// ============== COLORS ======================
$gold: #d1c5b7;
$white: #fff;
$gray-light: #f8f8f8;
$gray-medium: #333333;
$gray-dark: #2f2f2f;
