// ============== FONTS ======================

$ff-primary: "Merriweather", serif;
$ff-secondary: "Montserrat", sans-serif;
$ff-accent: "Miller Display", serif;

// ============== FONT SIZES ======================

// ============== COLORS ======================
$gold: #d1c5b7;
$gold-transparent: #d1c5b755;
$gold-dark: #c2b8ab;
$white: #fff;
$grey-light: #f8f8f8;
$grey-light--dark: #eeeeee;
$grey-text: #8c8c8c;
$grey-medium: #333333;
$grey-dark: #2f2f2f;
