.footer {
  @media (max-width: $bp-md) {
    margin-bottom: -80px !important;
  }
  &-container {
    background: $grey-medium;
    padding: 100px 90px;
    @media (max-width: $bp-md) {
      padding: 50px 20px;
    }
  }
  &-logo {
    margin-bottom: 60px;
    a {
      color: $white;
      font-size: 3.4rem;
      text-decoration: none;
      font-weight: 700;
      font-family: $ff-secondary;
    }
  }
  &-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: $bp-md) {
      flex-direction: column;
    }

    gap: 20px;
    ul {
      flex-grow: 1;
      //   width: 200px;
      margin-right: 80px;
      list-style: none;
      * {
        color: $gold;
        font-size: 1.6rem;
        text-decoration: none;
        font-family: $ff-accent;
        line-height: 4rem;
        transition: all 0.3s ease-in-out;
      }
      .mail-link {
        text-decoration: underline;
      }
      .social-link {
        a {
          text-transform: uppercase;
          font-family: $ff-secondary;
          letter-spacing: 0.24rem;
          font-weight: 700;
        }
      }
      :hover {
        a {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}
.bottom-footer {
  background-color: $grey-dark;
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $bp-md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  p,
  * {
    color: $gold;
    font-size: 1.4rem;
    font-family: $ff-primary;
    text-decoration: none;
  }
}
