@import "../../sass/styles.scss";

.press {
  .press__title {
    p {
      max-width: 60%;
      @media (max-width: $bp-lg) {
        max-width: 100%;
      }
    }
  }
  .press__slider {
    background: $grey-light;
    width: 100%;
    aspect-ratio: 1;
    position: relative;

    .press__slider--container {
      position: absolute;
      top: 30%;
      right: 0;
      gap: 20px;
      width: 130%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .wl-pretitle {
        margin-bottom: 5px;
      }
      @media screen and (max-width: $bp-lg) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: unset;
        width: 100%;
        padding: 20px;

        img {
          // order: 2;
          width: 80%;
        }
      }
    }
  }
}
