@import "../styles";

.wl-btn {
  background: transparent;
  border: none;
  text-decoration: none;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
  &:active {
    transition: all 10ms ease-in-out;
  }
}
.wl-btn--primary {
  font-family: $ff-primary;
  padding: 20px 110px;
  color: $gold;
  font-size: 2.1rem;
  transition: all 0.3s ease-in-out;
  border: 2px solid $gold;
  &:hover {
    background: $gold;
    color: $white;
  }
  &:active {
    background: $gold-dark;
  }
}
.wl-btn--small {
  padding: 20px 20px;
  font-size: 1.6rem;
}
.wl-btn--primary--white {
  border: 2px solid $white;
  color: $white;
  &:hover {
    background: $white;
    color: $gold;
  }
  &:active {
    background: $grey-light;
  }
}

.wl-btn--navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  // -------------------
  padding: 20px 10px;
  // -------------------
  font-family: $ff-secondary;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  span {
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
  }
  // -------------------
  transition: all 0.3s ease-in-out;
  svg {
    transition: inherit;
  }
  &:hover svg {
    transform: translateX(10px);
    // margin-left: 10px;
    // gap: 30px;
  }
}
.wl-btn-icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;

  &:hover {
    background: $grey-light;
  }
  &:active {
    background: $grey-light--dark;
  }
  &--transparent {
    background: transparent;
    color: $gold;
    &:hover {
      background: $gold;
      color: $white;
    }
    &:active {
      background: $gold-dark;
    }
  }
}
